/* 
css实例有两部分组成:
  1.选择器。
  2.一条及多条声明。


css选择器：
  1.id选择器
    以“#”来定义，如：#id。

  2.class选择器
    以”.“来定义，如：.class。

插入样式表方式： 
  1.外部样式表：当样式引用于很多页面时，外部样式表是理想的选择，可以用过修改一个文件改变整个网站的外观。
    <head>
      <link rel="stylesheet" type="text/css" href="mystyle.css">
    </head>

  2.内部样式表：当单个文档需要特殊样式时，内部样式表可以定义文档内样式。
    <head>
      <style>
      hr {color:sienna;}
      p {margin-left:20px;}
      body {background-image:url("images/back40.gif");}
      </style>
    </head>

  3.内联样式：当样式只需要在一个元素上应用时，可以使用内联样式。
    <p style="color:sienna;margin-left:20px">这是一个段落。</p>

样式优先级：内联样式）Inline style > （内部样式）Internal style sheet >（外部样式）External style sheet > 浏览器默认样式

*/
