/* 
CSS 链接
不同的链接可以有不同的样式。

1.链接样式
链接的样式，可以用任何CSS属性（如颜色，字体，背景等）。
特别的链接，可以有不同的样式，这取决于他们是什么状态。
这四个链接状态是：
  a:link - 正常，未访问过的链接
  a:visited - 用户已访问过的链接
  a:hover - 当用户鼠标放在链接上时
  a:active - 链接被点击的那一刻

当设置为若干链路状态的样式，也有一些顺序规则：
  a:hover 必须跟在 a:link 和 a:visited后面
  a:active 必须跟在 a:hover后面
*/
a:link {
  color: #000000;
} /* 未访问链接*/
a:visited {
  color: #00ff00;
} /* 已访问链接 */
a:hover {
  color: #ff00ff;
} /* 鼠标移动到链接上 */
a:active {
  color: #0000ff;
} /* 鼠标点击时 */

/* 
2.文本修饰
text-decoration 属性主要用于删除链接中的下划线： 
*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

/* 
3.背景颜色
背景颜色属性指定链接背景色： 
*/
a:link {
  background-color: #b2ff99;
}
a:visited {
  background-color: #ffff85;
}
a:hover {
  background-color: #ff704d;
}
a:active {
  background-color: #ff704d;
}
